<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.mydbConnectionString" connectionString="user id=root;password=ROOT;port=3306;server=localhost;database=mydb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>